// main colors
$bgSection: #ffffff;

$sendBtnColor: #f58026;
$sortBtns: #ff8300;
$bgForm: #e3e3e3;
$bgTable: #333333;
$border: #cccccc;
$bgMenu: #6eb43a;
// text colors

$headerForm: #444444;
$hash: #cccccc;
$headerText :#000000;







